/* group 6     */


*{
    box-sizing: border-box;
}

html, body{
    background-color:#E4E4E4;
    font-family:'Manrope', sans-serif;
    margin-right:20px;
    margin-left:20px;
  }

.fit_to_size,
.header,
.footer{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
/*Header Things*/
.header{
    background:white;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

h2{
    font-size: 26px;
    text-transform: uppercase
}
.header_text{
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 20px;
    background:
}

.lrg_text{font-size: 32px;}
li {list-style: none;}

/*For navigation bar, a and hover and ul*/
.nav {
    text-align: center;
    margin: auto;
    width:73%;
    min-width: 760px;
    margin-bottom:15px;
	  padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.nav a{
    text-align: center;
    margin-left: 30px;
    display:block;
    font-size:15px;
    padding:10px;
    text-decoration: none;
    color:black;
    text-transform:uppercase;
    font-weight: 600;
}
.nav a:hover{
    background: #a5283b;
	color: #ffffff;
	text-decoration: underline;
	transition: 0.5s;
}
.nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
/*For navigation when scrolling down*/
#navbar-scrolldown {
    background-color: #a5283b;
    position:fixed;
    top: -60px;
    width:1100px;
    transition: top 0.3s;

    }
#navbar-scrolldown a {
    float: left;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
  }
#navbar-scrolldown a:hover {
    background-color: #ffffff;
    color: #000000;
  }

.clearfix{
	clear: both;
}

.blockbutton{
    border:none;
    color:white;
    background:#a5283b;
    font-size: 16px;
    padding:10px;
    cursor:pointer;
}
.blockbutton:hover{
    background:#cd3249;
}

/*Main cdu image on all webpages*/
.cdu_img{
    width:650px;
    margin-top: 10px;
    transition: transform .2s;
}
.cdu_img:hover{
    transform: scale(1.1);
}
/*For general images to be centered aligned*/
.img{
    text-align: center;
}
/*For the layout of cards on the home page*/
.card{
    background:white;
    padding: 25px;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 2;
    transition: box-shadow 0.6s;
}
.card:hover{
  box-shadow:2px 4px 5px #aaaaaa;
}
/*For if cards should be on the left side of page*/
.leftside{
    float:left;
    width:50%;
}
/*For if cards should be on the right side of page*/
.rightside{
    float:right;
    width:49.3%;
}

.endfloat:after{
    content: "";
    display: table;
    clear:both;
}
/*FOOTER*/
.footer{
    background:#003968;
    color:white;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}
.footer p{
    font-size: 20px;
}

/*For ABOUT PAGE content*/
.content-container{max-width: 1100px;margin-left: auto;margin-right: auto;background-color: white;padding: 25px;margin-top: 10px;border-radius: 5px;}
.bg-blue{background: #04606b;padding:10px;margin-top:10px}
.bg-blue p,
.bg-blue h2 {color:white;}
.subheader{font-size: 40px;font-weight: bold;text-align: left;background-color: #a5283b;color: white;padding-left: 30px;}
.content-body{min-height: 400px;margin-bottom: 10px;padding: 25px;line-height: 2;}
.abtimg{float:right; margin: 10px;width:300px;}
.abtimg2{float:left;width: 330px;margin-right: 20px;margin-bottom: 0px;}
.programme{height:auto;width:300px;background:#04606b;float:right;padding:10px}
.programme ul{margin:0;padding:0}
.programme li{list-style-type: none;font-weight: bold;color: white;text-align: left;line-height: 2;}
.learnmore{text-align: center;font-size: 20px;margin:0;}
.learnmore a{text-decoration: none; color:#003968;}
.learnmore a:hover{text-decoration: underline; color:#7693ab}
/*For CHALLENGES Page*/
.chall-img1{width:33.3%;display: block;}
.chall-img2{width:33.3%;display:block;}
.row-container{background:#04606b;width:100%;margin-top:20px; overflow: hidden}
.row-container: after {content: "";display: table;clear: both}
.left-row-text{padding:20px;float:left;width:66.6%;min-width: 50%}
.left-row-text h2,
.right-row-text h2 {margin:0 0 5px 0; line-height: 1.4; color:white}
.left-row-text p,
.right-row-text p {margin:0 0 10px 0;  line-height: 1.4; color:white}
.right-row-text{padding:20px;float:right;width:66.6%;}
/*For Events Page*/
.eve-img1,
.eve-img2,
.eve-img3{width:33.3%; display: block;}

/*SHOULD BE AT THE BOTTOM OF CSS*/
/* This is so that when the window screen is less than 850px,
the leftside and rightside will collapse on top together and fit better into the screen */
@media screen and (max-width: 850px) {
    body{
        overflow-x: hidden;
    }
    .links{
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: transform 0.5s ease-in;
    }
    .nav{
        width:100%;
        min-width: 0px;
    }
    .rightside,
    .leftside {
          width: 100%;
          text-align: center;
    }
    .cdu_img{
            width:350px;
    }
    .footer p{
      font-size:16px;
    }
    #navbar-scrolldown {
        display: none;
    }
    .map,
    .chall-img1,
    .chall-img2{width:100%}

    .left-row-text,
    .right-row-text{
      width:100%;
    }
    .programme{display:none}
    .abtimg, .abtimg2{width:100%; margin:0}
    .eve-img1,
    .eve-img2,
    .eve-img3{width:100%}
}
